---
import FancyButton from "@components/FancyButton.astro"
// import Image from "@components/Image.astro"
import LazyImage from "@components/LazyImage.astro"
import MapSection from "@components/MapSection.astro"
import Sparkles from "@components/Sparkles"
import { about, work } from "@data/about"
import { TOOLS } from "@data/config"
import BaseLayout from "@layouts/BaseLayout.astro"
import { smarty } from "@lib/smartypants"
import { Icon } from "astro-icon"

export const prerender = true

const tools = TOOLS.filter((x) => x.featured).sort((a, b) => a.name.localeCompare(b.name))

const title = "About"
const description =
	"A wearer of many hats, I love solving business and user problems. I refine brand, service, and product strategy with a broad spectrum of skills."
---

<BaseLayout title={title} description={description}>
	<section aria-labelledby="#about-me" class="pt-24 pb-9 lg:pt-32">
		<div class="mx-auto mb-8 w-fit rounded-full border border-gray-200 dark:border-gray-800">
			<LazyImage
				src="https://imagedelivery.net/le40TwFDWUdIvXckEp8FBw/e4a8c6d5-3d4c-4d24-a5ca-a8bd1f73bf00/w=96,h=96,format=webp"
				alt="A selfie of me hiking on snowy Mt. Rainier. I am smiling while wearing my hat and sunglasses. Behind my head, in the distance, you can see the looming peak of Mt. Adams."
				class="w-24 aspect-square object-cover rounded-full p-[2px]"
			/>
		</div>
		<h1 id="about-me" class="mx-auto max-w-screen-sm text-center text-2xl font-medium">
			<Sparkles client:load>
				<em class="font-serif font-semibold">Multidiscipline</em>
			</Sparkles>
			<noscript><em class="font-serif font-semibold">Multidiscipline</em></noscript>
			designer, developer, and creative.
		</h1>
	</section>
	<section aria-labelledby="#bio" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Introduction
			</h2>
			<p class="flex-grow" set:html={smarty(about)} />
		</div>
	</section>
	<!-- <section aria-labelledby="#mission" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				My mission
			</h2>
			<p class="flex-grow" set:html={smarty(mission)} />
		</div>
	</section> -->
	<section aria-labelledby="#experience" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Work experience
			</h2>
			<div class="flex-grow">
				<p class="mb-8" set:html={smarty(work)} />
				<FancyButton href="/work/prosource" class="!block sm:!inline-block">Learn more</FancyButton>
			</div>
		</div>
	</section>
	<section aria-labelledby="#work" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="work" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Work history
			</h2>
			<ul class="flex flex-col gap-8">
				<li>
					<h3>Product Designer</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; October 2020&ndash;Present
					</p>
				</li>
				<li>
					<h3>IT Coordinator</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; May 2016&ndash;October 2020
					</p>
				</li>
				<li>
					<h3>Intern</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; December 2014&ndash;December 2015
					</p>
				</li>
			</ul>
		</div>
	</section>
	<section aria-labelledby="#tools" class="pt-16">
		<div class="flex flex-col gap-2 md:flex-row md:gap-9">
			<h2 id="tools" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Favorite tools
			</h2>
			<div class="flex-grow">
				<ul role="list" class="mb-8 grid grid-cols-2 gap-8 sm:grid-cols-3">
					{
						tools.map(({ name, href, icon }) => (
							<li>
								<a href={href} class="group relative -m-2 inline-block p-2">
									<div
										aria-hidden="true"
										class="absolute inset-0 isolate scale-90 rounded-lg bg-gray-300/80 opacity-0 transition-all duration-300 ease-in-out group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-900"
									/>
									<div class="relative flex items-center gap-4">
										<Icon name={icon} class="aspect-square h-6 w-6" title={`${name} icon`} />
										<div class="flex items-center gap-2">{name}</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
				<FancyButton href="/about/tools" class="!block sm:!inline-block">
					More tools I use
				</FancyButton>
			</div>
		</div>
	</section>
	<MapSection class="pt-16">
		I'm fortunate to call Tacoma, WA my home. I've been working remotely here since summer 2021.
		Below are a few of my favorite places around town &mdash; if you're ever in the area, I hope you
		check them out!
	</MapSection>
</BaseLayout>
