---
import { smarty } from "@/lib/smartypants"
import * as About from "@components/about/index"
import FancyButton from "@components/FancyButton.astro"
import LazyImage from "@components/LazyImage.astro"
import MapSection from "@components/MapSection.astro"
import Prose from "@components/Prose.astro"
import { TOOLS } from "@data/config"
import BaseLayout from "@layouts/BaseLayout.astro"
import { Icon } from "astro-icon"

export const prerender = true

const { Introduction, AfterHours, Experience, Mission, Location } = About

const tools = TOOLS.filter((x) => x.featured).sort((a, b) => a.name.localeCompare(b.name))

const title = "About"
const description =
	"I specialize in designing and building websites with an emphasis strategy, performance, and security."
---

<BaseLayout title={title} description={description}>
	<section aria-labelledby="#about-me" class="pt-24 pb-9 lg:pt-32">
		<div class="mx-auto mb-8 w-fit rounded-full border border-gray-200 dark:border-gray-800">
			<LazyImage
				src="https://imagedelivery.net/le40TwFDWUdIvXckEp8FBw/e4a8c6d5-3d4c-4d24-a5ca-a8bd1f73bf00/w=96,h=96,format=webp"
				alt="A profile photo of me, John Eatmon."
				class="w-24 aspect-square object-cover rounded-full p-[2px] saturate-0"
			/>
		</div>
		<h1
			id="about-me"
			class="mx-auto max-w-2xl text-center text-2xl font-semibold"
			set:html={smarty("I'm John, a digital Swiss Army knife")}
		/>
	</section>
	<section aria-labelledby="#bio" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Introduction
			</h2>
			<div class="flex-grow">
				<Prose as="div" class="!leading-[28px]" set:html={Introduction.compiledContent()} />
			</div>
		</div>
	</section>
	<section aria-labelledby="#afterhours" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2
				id="afterhours"
				class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base"
			>
				After hours
			</h2>
			<div class="flex-grow">
				<Prose as="div" class="!leading-[28px]" set:html={AfterHours.compiledContent()} />
			</div>
		</div>
	</section>
	<!-- <section aria-labelledby="#mission" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				My mission
			</h2>
			<div class="flex-grow">
				<Prose as="div" class="!leading-[28px]" set:html={Mission.compiledContent()} />
			</div>
		</div>
	</section> -->
	<section aria-labelledby="#experience" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="bio" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Experience
			</h2>
			<div class="flex-grow">
				<Prose as="div" class="!leading-[28px] mb-8" set:html={Experience.compiledContent()} />
				<FancyButton href="/work/prosource" class="!block sm:!inline-block">Learn more</FancyButton>
			</div>
		</div>
	</section>
	<section aria-labelledby="#work" class="pt-16">
		<div class="flex flex-col gap-1 md:flex-row md:gap-9">
			<h2 id="work" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Work history
			</h2>
			<ul class="flex flex-col gap-8">
				<li>
					<h3>Designer/Developer/Writer</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; October 2020&ndash;Present
					</p>
				</li>
				<li>
					<h3>IT Coordinator</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; May 2016&ndash;October 2020
					</p>
				</li>
				<li>
					<h3>Intern</h3>
					<p class="text-gray-500 dark:text-gray-400">
						ProSource &middot; December 2014&ndash;December 2015
					</p>
				</li>
			</ul>
		</div>
	</section>
	<section aria-labelledby="#tools" class="pt-16">
		<div class="flex flex-col gap-2 md:flex-row md:gap-9">
			<h2 id="tools" class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base">
				Favorite tools
			</h2>
			<div class="flex-grow">
				<ul role="list" class="mb-8 grid grid-cols-2 gap-8 sm:grid-cols-3">
					{
						tools.map(({ name, href, icon }) => (
							<li>
								<a href={href} class="group relative -m-2 inline-block p-2">
									<div
										aria-hidden="true"
										class="absolute inset-0 isolate scale-90 rounded-lg bg-gray-300/80 opacity-0 transition-all duration-300 ease-in-out group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-900"
									/>
									<div class="relative flex items-center gap-4">
										<Icon name={icon} class="aspect-square h-6 w-6" title={`${name} icon`} />
										<div class="flex items-center gap-2">{name}</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
				<FancyButton href="/about/tools" class="!block sm:!inline-block">
					More tools I use
				</FancyButton>
			</div>
		</div>
	</section>
	<MapSection class="pt-16">
		<Prose as="div" class="!leading-[28px]" set:html={Location.compiledContent()} />
	</MapSection>
</BaseLayout>
