---
import { smarty } from "@/lib/smartypants"
import Hero from "@components/Hero.astro"
import { TOOLS } from "@data/config"
import BaseLayout from "@layouts/BaseLayout.astro"
import { Icon } from "astro-icon"

export const prerender = true

const title = "Tools I Use"
const description =
	"The many tools, products, and services I use on a regular basis, plus a few I'm actively learning."

const categories = new Set()
const category = TOOLS.map((tool) => categories.add(tool.category))
---

<BaseLayout title={title} description={description}>
	<Hero class="pt-24 lg:pt-32 pb-9">
		<Fragment slot="title" set:html={smarty("The tools, products, and services I use")} />
	</Hero>
	{
		[...categories].map((category) => (
			<section aria-labelledby={`#${category}`} class="grid gap-2 pt-16 md:grid-cols-4 md:gap-9">
				<h2 id={`${category}`} class="text-xs text-gray-500 dark:text-gray-400 md:text-base">
					{category}
				</h2>
				<ul role="list" class="col-span-3 grid grid-cols-2 gap-y-8 gap-x-2 md:gap-9">
					{TOOLS.filter((x) => x.category === category).map(({ name, href, icon, learning }) => (
						<li class="relative w-fit">
							<a
								href={href ?? "#"}
								class={`group peer relative z-10 -m-2 inline-block p-2 ${
									learning ? "cursor-help hover:opacity-90" : ""
								}`}
							>
								<div
									aria-hidden="true"
									class="absolute inset-0 isolate scale-90 rounded-lg bg-gray-300/80 opacity-0 transition-all duration-300 ease-in-out group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-900"
								/>
								<div class="relative flex items-center gap-4">
									{icon && (
										<Icon name={icon} class="aspect-square h-6 w-6" title={`${name} icon`} />
									)}
									<div class="flex items-center gap-2">{name}</div>
								</div>
							</a>
							{learning && (
								<span class="absolute -top-full left-1/2 z-10 -translate-y-2 -translate-x-1/2 rounded bg-black p-1 text-sm opacity-0 peer-hover:opacity-100">
									Learning
								</span>
							)}
						</li>
					))}
				</ul>
			</section>
		))
	}
</BaseLayout>
