---
import type { HTMLAttributes } from "astro/types"
import { getCollection } from "astro:content"
import ProjectCard from "./ProjectCard.astro"

interface Props extends HTMLAttributes<"section"> {
	featuredNumber?: number
}

const projects = await getCollection("project")

const { featuredNumber = projects.length, ...attrs } = Astro.props as Props
---

<section aria-labelledby={Astro.slots.has("default") ? "#selected-work" : ""} {...attrs}>
	{
		Astro.slots.has("default") && (
			<h2 id="selected-work" class="mb-8 font-medium text-gray-500 dark:text-gray-400">
				<slot />
			</h2>
		)
	}
	<ul role="list" class="flex flex-col gap-16">
		{
			projects
				.sort((a, b) => new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf())
				.slice(0, featuredNumber)
				.map(({ data, slug }, i) => (
					<ProjectCard
						title={data.title}
						description={data.description}
						duration={`${data.duration.from}&ndash;${data.duration.to}`}
						image={{ src: data.image.src, alt: data.image.alt ?? "" }}
						url={`/project/${slug}`}
						caseStudy={data.caseStudy}
						class="flex flex-col gap-1 md:flex-row md:gap-9"
						index={i}
					/>
				))
		}
	</ul>
</section>
