---
import type { HTMLAttributes } from "astro/types"
import { smartypants } from "smartypants"
import Image from "../components/Image.astro"

interface Props extends HTMLAttributes<"li"> {
	title: string
	description: string
	duration?: string
	image: {
		src: string
		alt: string
	}
	url: string | undefined
	caseStudy?: boolean
}

const { title, description, duration, image, url, caseStudy, ...attrs } = Astro.props as Props
---

<li {...attrs}>
	<span
		class="text-gray-500 dark:text-gray-400 md:w-40 shrink-0 text-xs md:text-base"
		set:html={duration}
	/>
	<div>
		<h3 class="font-semibold mb-1" set:html={title} />
		<p class="text-gray-500 dark:text-gray-400 mb-1" set:html={smartypants(description, 1)} />
		<a href={url} class="inline-block font-medium underline-offset-2 underline decoration-2 mb-6">
			{caseStudy ? "Ready case study" : "Read more"}
		</a>
		<a href={url} class="block relative overflow-hidden group">
			<div
				class="absolute inset-0 h-full w-full bg-gradient-to-t from-black/50 via-black/10 to-black/0 translate-y-full group-hover:translate-y-0 transition-transform duration-500"
			>
			</div>
			<Image
				src={image.src}
				alt={image.alt ?? ""}
				class="rounded-lg aspect-[4/3] w-full object-cover"
			/>
		</a>
	</div>
</li>
