---
import type { HTMLAttributes } from "astro/types"

import Image from "@components/Image.astro"
import { smarty } from "@lib/smartypants"

interface Props extends HTMLAttributes<"li"> {
	title: string
	description: string
	duration?: string
	image: {
		src: string
		alt: string
	}
	url: string | undefined
	caseStudy?: boolean
	index?: number
}

const { title, description, duration, image, url, caseStudy, index, ...attrs } =
	Astro.props as Props

let loading = "lazy"

if (index !== undefined && index < 1) {
	loading = "eager"
}
---

<li {...attrs}>
	<span
		class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base"
		set:html={duration}
	/>
	<div>
		<h3 class="mb-1 font-semibold" set:html={title} />
		<p class="mb-1 text-gray-500 dark:text-gray-400" set:html={smarty(description)} />
		<a href={url} class="mb-6 inline-block font-medium underline decoration-2 underline-offset-2">
			{caseStudy ? "Read case study" : "Read about this project"}
		</a>
		<a href={url} class="group relative block overflow-hidden">
			<div
				class="absolute inset-0 h-full w-full translate-y-full bg-gradient-to-t from-black/50 via-black/10 to-black/0 transition-transform duration-500 group-hover:translate-y-0"
			>
			</div>
			<Image
				src={image.src}
				alt={image.alt ?? ""}
				class="rounded-lg aspect-[4/3] w-full object-cover"
				loading={loading}
			/>
		</a>
	</div>
</li>
