---
import Hero from "@components/Hero.astro"
import ProjectSection from "@components/ProjectSection.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import { smarty } from "@lib/smartypants"
import { Icon } from "astro-icon"
import { getCollection } from "astro:content"

export const prerender = true

const work = await getCollection("work")
---

<BaseLayout
	title="Work & Projects"
	description="Read my case studies, work experience, and side projects."
>
	<Hero class="pt-24 lg:pt-32 pb-9">
		<Fragment slot="title" set:html={smarty("Work, projects, and the like")} />
		Case studies, work experience, and side projects.
	</Hero>
	<section aria-labelledby="#work" class="pt-16">
		<h2 id="work" class="mb-8 font-medium">Work experience</h2>
		<ul role="list" class="flex flex-col gap-16">
			{
				work.map(({ data, slug }) => (
					<li class="flex flex-col gap-2 md:flex-row md:gap-9">
						<span
							class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base"
							set:html={`${data.duration.from}&ndash;${data.duration.to}`}
						/>
						<a href={`/work/${slug}`} class="group relative -m-2 inline-block p-2">
							<div
								aria-hidden="true"
								class="absolute inset-0 isolate scale-90 rounded-lg bg-gray-300/80 opacity-0 transition-all duration-300 ease-in-out group-hover:scale-100 group-hover:opacity-100 dark:bg-gray-900"
							/>
							<div class="relative flex w-full items-start gap-x-4">
								<Icon
									name="prosource"
									title="ProSource brandmark"
									class="aspect-square w-12 flex-shrink-0 object-contain text-indigo-600"
								/>
								<div>
									<h3 class="font-semibold" set:html={`${data.roles} &middot; ${data.title}`} />
									<p
										class="font-serif text-gray-500 dark:text-gray-400"
										set:html={smarty(data.description)}
									/>
								</div>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>
	<ProjectSection class="pt-16">Projects</ProjectSection>
</BaseLayout>
